build/
cmake_template-main
.file-templates/
.vscode/
libs
3rdparty/mklml
3rdparty/MNN
3rdparty/ncnn
3rdparty/openvino
3rdparty/PaddleLite
3rdparty/tnn
3rdparty/win_x64
models/
data
build